.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 20pt;
  min-height: 100vh;
  background-color: cornflowerblue ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(32px + 2vmin);
  
}

.App-link {
  padding-bottom: 5pt;
  padding-right: 15pt;
  text-align: right;
  justify-content: center;
  align-items: center;
  /* font-size: calc(14px + 2vmin); */
  color: #ffffff;
  text-decoration: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
